.my-border {
  /* padding: 0px 0px; */
  /* border-radius: 13px 13px 0px 13px !important; */
  /* border-bottom-right-radius: 0% !important; */
}

/* nav {
    position: sticky;
  
    top: 0px;
  } */
/* .nav-content {
    background-color: #125d80b0;
  }
  .nav-content a {
    color: white;
  } */